Tabctoabc.dSYM/
.DS_Store
/downward/__pycache__/
/downward/generatePddl/*
/downward/output.sas
/downward/sas_plan
/downward/sas_plan.*
/downward/builds/
/downward/misc/.tox/
/downward/misc/autodoc/downward-xmlrpc.secret
abctab2ps/src/Out.ps
abctab2ps/src/abctab2ps
Tabctoabc/Tabctoabc
Tabctoabc/barlines.o
Tabctoabc/music_utils.o
Tabctoabc/parseabc.o
Tabctoabc/parser_utils.o
Tabctoabc/toabc.o
Tabctoabc/transposer.o
Tabctoabc/utils/string_utils.o
noteLocations.txt
testPDFs/.DS_Store
abctab2ps/src/Out.ps
abctab2ps/src/abctab2ps
downward/generatePddl/a_domain.pddl
downward/generatePddl/a_problem.pddl
abc_output.txt
guitar_tab_input.abc
movementCosts.txt
noteLocationas.txt
out.pdf